@use '_variaveis';
.footer {
    background-color: #0b0c0e;
    padding: 30px;

    &__sociais{
        display: flex;
        color: #fff;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 5px;
            width: 200px;
            bottom: -30px;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
        }

        li {
            background-color: black;
            border-radius: 50%;            
            border: 1px solid #fff;
            padding: 20px;
            &:hover{
                transition: .3s ease-in-out;
                cursor: pointer;
                background-color: variaveis.$corPrincipal;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }

    &__comercial {
        text-align: center;
        color: #fff;
        margin: 90px auto;
        font-size: 1.2rem;
    }
}