@use 'variaveis';


.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    h1 {
        color: variaveis.$corSecundaria;
        font-size: 2.5rem;

        @media (max-width:900px) {
            font-size: 1.7rem;
        }

        span {
            color: variaveis.$corPrincipal;
        }
    }

    &__hamburger {
        cursor: pointer;
        display: none;

        @media (max-width: 900px) {
            display: block;
        }

        &.active {
            .line1 {
                transform: rotate(-45deg) translate(-6px, 12px);
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(45deg) translate(-3px, -12px);
            }
        }

        div {
            margin: 8px;
            height: 4px;
            width: 34px;
            transition: transform .4s ease-in-out;
        }

        .line1 {
            background-color: variaveis.$corSecundaria;
        }

        .line2 {
            background-color: variaveis.$corPrincipal;
        }

        .line3 {
            background-color: variaveis.$corSecundaria;
        }
    }

    &__list {
        display: flex;
        gap: 10px;

        @media (max-width: 900px) {
            position: absolute;
            top: 9vh;
            right: 0;
            height: 90vh;
            width: 40vw;
            background-color: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(10px);
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border-radius: 10px 0 0 10px;
            display: none;
            z-index: 1;
        }

        &.active {
            display: flex;
        }

        li {
            @media (max-width: 900px) {
                opacity: 0;
            }

            a {
                font-size: 1.2rem;
                letter-spacing: 2px;
                color: variaveis.$corSecundaria;
                font-weight: 600;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    bottom: -6px;
                    right: 0;
                    transform: scaleX(0);
                    transition: transform ease-in .3s;
                    background-color: variaveis.$corPrincipal;
                    border-radius: 3px;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}



@keyframes fadeMenu {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}