@use '_reset';
@use '_header';
@use '_home';
@use '_cardTech';
@use '_variaveis';
@use '_portfolio';
@use '_about';
@use '_footer';

@mixin title($fontSize: 16px) {
    font-size: $fontSize;
}


@mixin titleSection {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;

    h2 {
        font-size: 2.5rem;
        color: variaveis.$corPrincipal;
        margin-bottom: 15px;
    }

    p {
        color: #707070;
        font-size: 1.2rem;
        margin-bottom: 16px;
        position: relative;
    }

    div {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    span {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: variaveis.$corPrincipal;
    }
}

@mixin button {
    background-color: #222;
    color: variaveis.$corTextoPrincipal;
    padding: 20px 40px;
    border: 1px solid #333;
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 40px;
    width: 250px;
    justify-self: center;
    &:hover {
        background-color: variaveis.$corPrincipal;

    }
}

.btn {
    @include button()
}

.titleSection {
    @include titleSection()
}


.title {
    @include title(2.5rem)
}